body{
    display: inline-block;
    /* border-color: aqua; */
    /* border-style: double; */
    margin: 10px 50px;
    /* background-color: lightcoral; */
}
img{
    display: inline-block;
    position: absolute;
    /* border: lightgreen;
    border-style: double; */
    height: 200px; 
    left: 60px;
    top: 15px;

}
h1{
    color: #883332;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 70px;
    position: relative;
    left: 62%;
    padding: 5px;
    font-size: 2.9em;
    
    /* background-color: lightgreen;
    border-color: black; 
    border-style: solid; */
    
}    
/*rgb(136, 51, 50)*/
/*b25914   rgb(178, 89, 20)  line f79a4e rgb(247, 154, 78) h3 983c4f rgb(152, 60, 79)
*/
h2{
    color: #b25914; 
    display: block;
    position: relative;
    /* top: 100px; */
    width: 18em;
    left: 58vw;
    font-size: 1.7em;
    margin: 2px;
    font-weight: 50;
    /* background-color: coral;
    border-color: black; 
    border-style: solid;*/
}

hr{
    background-color: #f7a15a;
    /* margin:10px 90px; */
    height: 1px;
}
h3{
    color: rgb(152, 60, 79);
    font-size: 2.5em;
    font-weight: 500;
    /* background-color: aqua; */
}
ul li,p{
    font-size: 1.9em;
    /* background-color: aqua; */
}
/* ------------------------------------------------------------------------------ */
.intrest{
    /* background-color: burlywood; */
    display: inline-block;
}
/* .intrest h3{
    background-color: rgb(62, 15, 173);
} */
.intrest ul{
    /* background-color: rgb(112, 29, 29); */
    left: 60px;
    display: inline-block;
    position: relative;
    bottom: 20px;
}
.intrest ul li,p{
    font-size: 1.9rem;
    /* background-color: aqua; */
    /* align-items: center; */
    padding: 10px;
}
/* --------------------------------------------------------------- */

.objective{
    /* background-color: cadetblue; */
    display: inline-block;
    position: relative;
    left: 90px;
    bottom: 36px;
}
/* .objective p{
    
} */
/* -------------------------------------------------------------------- */
.skills{
    /* background-color: darkgray; */
    display: inline-block;
    position: relative; 
    bottom: 90px;
}

.skills ul
{
    /* background-color: yellow; */
    display: inline-block;
    position: relative;
    bottom: 30px;
    left: 60px;
    /* padding: 0px; */
}

.skills ul li{
    padding: 10px;
}
/* --------------------------------------------------------------------------- */

.acadamic{
    /* background-color: darksalmon; */
    display: inline-block;
    position: relative;
    left: 130px;
    bottom: 36px;
}
.acadamic ul{
    /* background-color: violet; */
    display: inline-block;
    position: relative;
    bottom: 30px;
    left: 60px;
    padding: 10px;
}
.acadamic ul li{
    padding: 10px;
}
/* ------------------------------------------------------------------------------- */
.personal{
    /* background-color: darkseagreen; */
    display: inline-block;
    position: relative;
    bottom: 100px;
}
.personal span{
    text-decoration: underline;
}
/* --------------------------------------------------------------------------------- */
.computer{
    /* background-color: hotpink; */
    display: inline-block;
    position: relative;
    left: 80px;
    bottom: 250px;
}
.computer ul{
    /* background-color: violet; */
    display: inline-block;
    position: relative;
    bottom: 70px;
    left: 39px;
    /* padding: 10px; */
}
.computer ul li{
    position: relative;
    /* padding: 10px; */
    /* bottom: 10px; */
}
#one{
    position: relative;
    padding-right: 150px;
}
#two{
    position: relative;
    padding-right: 52px;
}
#three{
    position: relative;
    padding-right: 170px;
}
/* --------------------------------------------------------------------------- */
.project{
    /* background-color: khaki; */
    display: inline-block;
    position: relative;
    left: 34%;
    bottom: 350px;
}
.project ul{
    /* background-color: aquamarine; */
    display: inline-block;
    position: relative;
    list-style-type: none;
    right: 50px;
    bottom: 50px;
}
#title{
    color: #b25914;
    padding-right: 100px;
}
#sys{
    position: relative;
    left: 174px;
}
#domain{
    color: #b25914;
    padding-right: 58px;
}
#description{
    color: #b25914;
    padding-right: 15px;
}
#des_span{
    position: relative;
    left: 175px;
    /* background-color: lawngreen; */
}
.co_activities{
    /* background-color: lightcoral; */
    display: inline-block;
    position: relative;
    left: 34%;
    bottom: 450px;
}
.co_activities ul{
    display: inline-block;
    position: relative;
    left: 55px;
    bottom: 20px;
}

.extra_activities{
    /* background-color: lightskyblue; */
    display: inline-block;
    position: relative;
    left: 34%;
    bottom: 450px;
}
.extra_activities p{
    position: relative;
    right: 10px;
    bottom: 30px;
}